test/generalTest.json
[
    {
        "id": "985354f6.552ed8",
        "type": "tab",
        "label": "tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b0fe1e4d.2bc61",
        "type": "tab",
        "label": "Test Offset",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1cf75c9.df5408",
        "type": "tab",
        "label": "scripts",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d721b82a.0d41d8",
        "type": "tab",
        "label": "GUI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "377dc79.8c9f638",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b73b7f7c.ba5cb",
        "type": "ui_group",
        "z": "",
        "name": "Details",
        "tab": "377dc79.8c9f638",
        "order": 2,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "95bdff37.130b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Kafka",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b99c93d.5a2a27",
        "type": "ui_group",
        "z": "",
        "name": "Summary",
        "tab": "377dc79.8c9f638",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "abe5b085.ab96b",
        "type": "Kafka Broker",
        "z": "",
        "name": "Kafta",
        "hosts": [
            {
                "host": "127.0.0.1",
                "port": 9092
            }
        ],
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "usetls": false
    },
    {
        "id": "ca17cd24.b50fe",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "b2fd3ec3.121e"
            ]
        ]
    },
    {
        "id": "5c47d596.3c5c8c",
        "type": "Kafka Admin",
        "z": "985354f6.552ed8",
        "name": "Kafka Admin",
        "broker": "abe5b085.ab96b",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "9863cfa7.8acd"
            ],
            [
                "10f66549.438e7b"
            ]
        ]
    },
    {
        "id": "9863cfa7.8acd",
        "type": "debug",
        "z": "985354f6.552ed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "578394b4.9cb6ac",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "",
        "topic": "listTopics",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "5c47d596.3c5c8c"
            ]
        ]
    },
    {
        "id": "46e3abb8.548b14",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "",
        "topic": "listGroups",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "5c47d596.3c5c8c"
            ]
        ]
    },
    {
        "id": "b2fd3ec3.121e",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "df8c57df.f0b3d8"
            ]
        ]
    },
    {
        "id": "174d0f92.28147",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 470,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "53767358.c1c92c",
        "type": "Load Injector",
        "z": "985354f6.552ed8",
        "name": "",
        "thinktimemin": "10",
        "thinktimemax": "100",
        "runtime": 60,
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "b2fd3ec3.121e"
            ]
        ]
    },
    {
        "id": "fe0a86d7.4a9af8",
        "type": "ui_table",
        "z": "d721b82a.0d41d8",
        "group": "b73b7f7c.ba5cb",
        "name": "listTopics",
        "order": 2,
        "width": "0",
        "height": "0",
        "columns": [
            {
                "field": "topic",
                "title": "Topic",
                "width": "100%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "d7958195.48089",
                "a9f9066c.76f3c8"
            ]
        ]
    },
    {
        "id": "2f7ef747.cfbe18",
        "type": "Kafka Admin",
        "z": "d721b82a.0d41d8",
        "name": "",
        "broker": "abe5b085.ab96b",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "2dd3b532.76153a"
            ],
            [
                "4415bcdd.1a3394"
            ]
        ]
    },
    {
        "id": "c5a7da06.21e108",
        "type": "ui_dropdown",
        "z": "d721b82a.0d41d8",
        "name": "",
        "label": "Refresh",
        "tooltip": "",
        "place": "Select option",
        "group": "b99c93d.5a2a27",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "List Topics",
                "value": "listTopics",
                "type": "str"
            },
            {
                "label": "List Group",
                "value": "listGroups",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "893afabb.966b88"
            ]
        ]
    },
    {
        "id": "d7958195.48089",
        "type": "debug",
        "z": "d721b82a.0d41d8",
        "name": "out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "893afabb.966b88",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "payload2topic",
        "func": "msg.topic=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "2f7ef747.cfbe18"
            ]
        ]
    },
    {
        "id": "97120d77.2dc45",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "extract topics",
        "func": "let topics=Object.keys(msg.payload[1].metadata);\nmsg.payload=topics.map(v=>{return {topic:v}});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 140,
        "wires": [
            [
                "fe0a86d7.4a9af8"
            ]
        ]
    },
    {
        "id": "2dd3b532.76153a",
        "type": "switch",
        "z": "d721b82a.0d41d8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "listTopics",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "listGroups",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "createTopics",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "describe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "97120d77.2dc45"
            ],
            [
                "96366357.96419"
            ],
            [
                "d7958195.48089",
                "8392ed3b.03607"
            ],
            [
                "c76e6914.3306b8"
            ]
        ]
    },
    {
        "id": "36bcdc63.22a0f4",
        "type": "ui_table",
        "z": "d721b82a.0d41d8",
        "group": "b73b7f7c.ba5cb",
        "name": "listGroups",
        "order": 3,
        "width": "0",
        "height": "0",
        "columns": [
            {
                "field": "group",
                "title": "Group",
                "width": "100%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "bbaccf34.b804b"
            ]
        ]
    },
    {
        "id": "96366357.96419",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "extract groups",
        "func": "let groups=Object.keys(msg.payload );\nif(groups) {\n    msg.payload=groups.map(v=>{return {group:v}});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "36bcdc63.22a0f4"
            ]
        ]
    },
    {
        "id": "2a7e326.e7e43ce",
        "type": "split",
        "z": "d721b82a.0d41d8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "2f7ef747.cfbe18"
            ]
        ]
    },
    {
        "id": "bdac205e.b785b",
        "type": "inject",
        "z": "d721b82a.0d41d8",
        "name": "",
        "topic": "",
        "payload": "{\"listTopics\":null,\"listGroups\":null}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "2a7e326.e7e43ce"
            ]
        ]
    },
    {
        "id": "8f211c0e.bb84f",
        "type": "ui_form",
        "z": "d721b82a.0d41d8",
        "name": "createTopic",
        "label": "Create Topic",
        "group": "b99c93d.5a2a27",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Topic",
                "value": "topic",
                "type": "text",
                "required": true
            },
            {
                "label": "Partitions",
                "value": "partitions",
                "type": "number",
                "required": true
            },
            {
                "label": "Replication Factor",
                "value": "replicationFactor",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "topic": "",
            "partitions": "",
            "replicationFactor": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "createTopics",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "34ad7463.15e6ac"
            ]
        ]
    },
    {
        "id": "2ac293dc.afc3cc",
        "type": "inject",
        "z": "d721b82a.0d41d8",
        "name": "create test topic",
        "topic": "createTopics",
        "payload": "[{\"topic\":\"test\",\"partitions\":0,\"replicationFactor\":2}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "2f7ef747.cfbe18"
            ]
        ]
    },
    {
        "id": "596a8a0c.b3ccd4",
        "type": "ui_toast",
        "z": "d721b82a.0d41d8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "d7958195.48089"
            ]
        ]
    },
    {
        "id": "4415bcdd.1a3394",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "error 2 payload",
        "func": "msg.payload=\"**** \"+msg.error;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "596a8a0c.b3ccd4"
            ]
        ]
    },
    {
        "id": "34ad7463.15e6ac",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "2Array",
        "func": "msg.payload=[msg.payload];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "2f7ef747.cfbe18"
            ]
        ]
    },
    {
        "id": "8392ed3b.03607",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "set topic listTopics",
        "func": "msg.topic=\"listTopics\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "2f7ef747.cfbe18"
            ]
        ]
    },
    {
        "id": "31ecb07b.315db",
        "type": "debug",
        "z": "b1cf75c9.df5408",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "ffb719a4.230658",
        "type": "debug",
        "z": "b1cf75c9.df5408",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "d5b45b3e.bfb568",
        "type": "inject",
        "z": "b1cf75c9.df5408",
        "name": "",
        "topic": "start",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "91896958.ac7c18",
                "6042d728.d09668"
            ]
        ]
    },
    {
        "id": "91896958.ac7c18",
        "type": "Spawn Process",
        "z": "b1cf75c9.df5408",
        "name": "windows zoo zeeper",
        "process": "cmd.exe",
        "os": "Windows_NT",
        "autoStart": "false",
        "workingDirectory": "d:\\downloads\\kafka_2.12-2.3.0",
        "arguments": "/C bin\\windows\\zookeeper-server-start.bat config/zookeeper.properties",
        "env": {},
        "x": 400,
        "y": 100,
        "wires": [
            [
                "31ecb07b.315db"
            ],
            [
                "ffb719a4.230658"
            ],
            []
        ]
    },
    {
        "id": "6042d728.d09668",
        "type": "Spawn Process",
        "z": "b1cf75c9.df5408",
        "name": "windows kafka server",
        "process": "cmd.exe",
        "os": "",
        "autoStart": "false",
        "workingDirectory": "d:\\downloads\\kafka_2.12-2.3.0",
        "arguments": "/C bin\\\\windows\\kafka-server-start.bat config/server.properties",
        "env": {},
        "x": 400,
        "y": 180,
        "wires": [
            [
                "31ecb07b.315db"
            ],
            [
                "ffb719a4.230658"
            ],
            []
        ]
    },
    {
        "id": "12ce79b8.faa926",
        "type": "comment",
        "z": "b1cf75c9.df5408",
        "name": "windows processes need to change working directory",
        "info": "",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "15deab17.7412e5",
        "type": "ui_toast",
        "z": "d721b82a.0d41d8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "a9f9066c.76f3c8",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "form topic details request",
        "func": "msg.payload={type:'topic',name:msg.payload.topic};\nmsg.topic=\"describeConfigs\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 20,
        "wires": [
            [
                "d7958195.48089",
                "2f7ef747.cfbe18"
            ]
        ]
    },
    {
        "id": "a83dbf1.5d40b4",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "log error",
        "func": "node.error(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "15deab17.7412e5",
                "d7958195.48089"
            ]
        ]
    },
    {
        "id": "831ced18.910a9",
        "type": "comment",
        "z": "985354f6.552ed8",
        "name": "uses https://github.com/SOHU-Co/kafka-node",
        "info": "\nhttps://github.com/SOHU-Co/kafka-node#admin",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d9101ce.9f3db",
        "type": "Host Available",
        "z": "b1cf75c9.df5408",
        "name": "zookeeper => localhost:2181",
        "host": "localhost",
        "port": "2181",
        "checkInterval": "60",
        "x": 380,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e5b58cad.e9045",
        "type": "Host Available",
        "z": "b1cf75c9.df5408",
        "name": "kafka => localhost:9092",
        "host": "localhost",
        "port": "9092",
        "checkInterval": "60",
        "x": 370,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c698dd84.366d3",
        "type": "os",
        "z": "b1cf75c9.df5408",
        "name": "",
        "property": "freemem",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "fdd5178c.9d0dc8"
            ],
            [
                "ffb719a4.230658"
            ]
        ]
    },
    {
        "id": "6e5df72f.99bc08",
        "type": "inject",
        "z": "b1cf75c9.df5408",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "c698dd84.366d3"
            ]
        ]
    },
    {
        "id": "fdd5178c.9d0dc8",
        "type": "debug",
        "z": "b1cf75c9.df5408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "d71016ae.5163a8",
        "type": "Host Available",
        "z": "d721b82a.0d41d8",
        "name": "kafka => localhost:9092",
        "host": "localhost",
        "port": "9092",
        "checkInterval": "60",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "5374ae40.b9b97",
                "4cadc539.9b1ffc"
            ],
            [
                "4cadc539.9b1ffc"
            ]
        ]
    },
    {
        "id": "5374ae40.b9b97",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "setRefresh",
        "func": "msg.payload={\"listTopics\":null,\"listGroups\":null};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "2a7e326.e7e43ce"
            ]
        ]
    },
    {
        "id": "4cadc539.9b1ffc",
        "type": "ui_text",
        "z": "d721b82a.0d41d8",
        "group": "b73b7f7c.ba5cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State",
        "format": "{{msg.payload.state}}",
        "layout": "col-center",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "b19a7a19.8841a8",
        "type": "inject",
        "z": "d721b82a.0d41d8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "d71016ae.5163a8"
            ]
        ]
    },
    {
        "id": "17e64779.656799",
        "type": "ui_template",
        "z": "d721b82a.0d41d8",
        "group": "b73b7f7c.ba5cb",
        "name": "Details",
        "order": 4,
        "width": "14",
        "height": "5",
        "format": "<div>\n<style type=\"text/css\">\n    table { \n        border: '1px solid black';\n    }\n    td {\n        vertical-align: 'top';\n    }\n</style>\n<div ng-bind-html=\"msg.payload\"></div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 950,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c76e6914.3306b8",
        "type": "transform",
        "z": "d721b82a.0d41d8",
        "name": "",
        "actionSource": "JSON",
        "actionTarget": "HTML",
        "delimiter": ",",
        "x": 800,
        "y": 340,
        "wires": [
            [
                "17e64779.656799"
            ]
        ]
    },
    {
        "id": "ce1f03e5.bfd0c",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e043889e.2dd7d8"
            ]
        ]
    },
    {
        "id": "e043889e.2dd7d8",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "2f341b0a.2072e4"
            ]
        ]
    },
    {
        "id": "77132979.1927f8",
        "type": "Kafka Consumer",
        "z": "985354f6.552ed8",
        "name": "Kafka Consumer",
        "broker": "abe5b085.ab96b",
        "topic": null,
        "topics": [
            {
                "topic": "test",
                "offset": 0,
                "partition": 0
            },
            {
                "topic": "atest",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "174d0f92.28147"
            ]
        ]
    },
    {
        "id": "df8c57df.f0b3d8",
        "type": "Kafka Producer",
        "z": "985354f6.552ed8",
        "name": "Kafka Producer",
        "broker": "abe5b085.ab96b",
        "topic": "test",
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "x": 540,
        "y": 40,
        "wires": []
    },
    {
        "id": "2f341b0a.2072e4",
        "type": "Kafka Producer",
        "z": "985354f6.552ed8",
        "name": "Kafka Producer HL",
        "broker": "abe5b085.ab96b",
        "topic": "atest",
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "HighLevelProducer",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "12821ba.2d2bfe4",
        "type": "Kafka Consumer",
        "z": "985354f6.552ed8",
        "name": "Consumer topic atest",
        "broker": "abe5b085.ab96b",
        "topics": [
            {
                "topic": "atest",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "groupTopicAtest",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "d0cf8150.ac195"
            ]
        ]
    },
    {
        "id": "10f66549.438e7b",
        "type": "debug",
        "z": "985354f6.552ed8",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "8e510a36.b5e038",
        "type": "Kafka Consumer Group",
        "z": "985354f6.552ed8",
        "name": "",
        "broker": "abe5b085.ab96b",
        "groupId": "aGroup",
        "sessionTimeout": 15000,
        "protocol": [
            "roundrobin"
        ],
        "encoding": "utf8",
        "fromOffset": "latest",
        "commitOffsetsOnFirstJoin": "true",
        "outOfRangeOffset": "earliest",
        "topics": [
            "test",
            "topic2"
        ],
        "x": 160,
        "y": 320,
        "wires": [
            [
                "e1194461.2ae728"
            ]
        ]
    },
    {
        "id": "d0cf8150.ac195",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "9863cfa7.8acd"
            ]
        ]
    },
    {
        "id": "e1194461.2ae728",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 390,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b4c9839d.88f26",
        "type": "inject",
        "z": "b0fe1e4d.2bc61",
        "name": "fetch topic test",
        "topic": "fetch",
        "payload": "[{\"topic\":\"test\",\"partition\":0,\"maxNum\":100}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "4eaa4e17.3b226"
            ]
        ]
    },
    {
        "id": "f127091e.9e6a38",
        "type": "inject",
        "z": "b0fe1e4d.2bc61",
        "name": "fetchEarliestOffsets for test",
        "topic": "fetchEarliestOffsets",
        "payload": "[{\"topic\":\"test\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "4eaa4e17.3b226"
            ]
        ]
    },
    {
        "id": "4eaa4e17.3b226",
        "type": "Kafka Offset",
        "z": "b0fe1e4d.2bc61",
        "name": "",
        "broker": "abe5b085.ab96b",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "d77ffae4.19de48"
            ],
            [
                "e82d48af.587398"
            ]
        ]
    },
    {
        "id": "e82d48af.587398",
        "type": "debug",
        "z": "b0fe1e4d.2bc61",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "d77ffae4.19de48",
        "type": "debug",
        "z": "b0fe1e4d.2bc61",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 20,
        "wires": []
    },
    {
        "id": "575bfc92.0a8e44",
        "type": "inject",
        "z": "b0fe1e4d.2bc61",
        "name": "fetchLatestOffsets for test",
        "topic": "fetchLatestOffsets",
        "payload": "[{\"topic\":\"test\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "4eaa4e17.3b226"
            ]
        ]
    },
    {
        "id": "d3a1de84.710be",
        "type": "inject",
        "z": "b0fe1e4d.2bc61",
        "name": "fetchCommits",
        "topic": "fetchCommits",
        "payload": "{\"groupid\":\"aGroup\",\"topics\":[{\"topic\":\"test\"}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "4eaa4e17.3b226"
            ]
        ]
    },
    {
        "id": "cc60e919.fa0c98",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "describeGroups",
        "topic": "describeGroups",
        "payload": "[\"aGroup\"]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "5c47d596.3c5c8c"
            ]
        ]
    },
    {
        "id": "bbaccf34.b804b",
        "type": "function",
        "z": "d721b82a.0d41d8",
        "name": "form group details request",
        "func": "msg.payload=[msg.payload.group];\nmsg.topic=\"describeGroups\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "2f7ef747.cfbe18"
            ]
        ]
    }
]