test/generalTest.json
[
    {
        "id": "985354f6.552ed8",
        "type": "tab",
        "label": "tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ca17cd24.b50fe",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "b2fd3ec3.121e"
            ]
        ]
    },
    {
        "id": "5c47d596.3c5c8c",
        "type": "Kafka Admin",
        "z": "985354f6.552ed8",
        "name": "Kafka Admin",
        "broker": "abe5b085.ab96b",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "9863cfa7.8acd"
            ],
            [
                "10f66549.438e7b"
            ]
        ]
    },
    {
        "id": "9863cfa7.8acd",
        "type": "debug",
        "z": "985354f6.552ed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "578394b4.9cb6ac",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "",
        "topic": "listTopics",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "5c47d596.3c5c8c"
            ]
        ]
    },
    {
        "id": "46e3abb8.548b14",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "",
        "topic": "listGroups",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "5c47d596.3c5c8c"
            ]
        ]
    },
    {
        "id": "b2fd3ec3.121e",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "df8c57df.f0b3d8"
            ]
        ]
    },
    {
        "id": "174d0f92.28147",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 470,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "53767358.c1c92c",
        "type": "Load Injector",
        "z": "985354f6.552ed8",
        "name": "",
        "thinktimemin": "10",
        "thinktimemax": "100",
        "runtime": 60,
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "b2fd3ec3.121e"
            ]
        ]
    },
    {
        "id": "831ced18.910a9",
        "type": "comment",
        "z": "985354f6.552ed8",
        "name": "uses https://github.com/SOHU-Co/kafka-node",
        "info": "\nhttps://github.com/SOHU-Co/kafka-node#admin",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "ce1f03e5.bfd0c",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "",
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "e043889e.2dd7d8"
            ]
        ]
    },
    {
        "id": "e043889e.2dd7d8",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "2f341b0a.2072e4"
            ]
        ]
    },
    {
        "id": "77132979.1927f8",
        "type": "Kafka Consumer",
        "z": "985354f6.552ed8",
        "name": "Kafka Consumer",
        "broker": "abe5b085.ab96b",
        "topic": null,
        "topics": [
            {
                "topic": "test",
                "offset": 0,
                "partition": 0
            },
            {
                "topic": "atest",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "174d0f92.28147"
            ]
        ]
    },
    {
        "id": "df8c57df.f0b3d8",
        "type": "Kafka Producer",
        "z": "985354f6.552ed8",
        "name": "Kafka Producer",
        "broker": "abe5b085.ab96b",
        "topic": "test",
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "x": 540,
        "y": 40,
        "wires": []
    },
    {
        "id": "2f341b0a.2072e4",
        "type": "Kafka Producer",
        "z": "985354f6.552ed8",
        "name": "Kafka Producer HL",
        "broker": "abe5b085.ab96b",
        "topic": "atest",
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "HighLevelProducer",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "12821ba.2d2bfe4",
        "type": "Kafka Consumer",
        "z": "985354f6.552ed8",
        "name": "Consumer topic atest",
        "broker": "abe5b085.ab96b",
        "topics": [
            {
                "topic": "atest",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "groupTopicAtest",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "d0cf8150.ac195"
            ]
        ]
    },
    {
        "id": "10f66549.438e7b",
        "type": "debug",
        "z": "985354f6.552ed8",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "8e510a36.b5e038",
        "type": "Kafka Consumer Group",
        "z": "985354f6.552ed8",
        "name": "",
        "broker": "abe5b085.ab96b",
        "groupId": "aGroup",
        "sessionTimeout": 15000,
        "protocol": [
            "roundrobin"
        ],
        "encoding": "utf8",
        "fromOffset": "latest",
        "commitOffsetsOnFirstJoin": "true",
        "outOfRangeOffset": "earliest",
        "topics": [
            "test",
            "topic2"
        ],
        "x": 160,
        "y": 320,
        "wires": [
            [
                "e1194461.2ae728"
            ]
        ]
    },
    {
        "id": "d0cf8150.ac195",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "9863cfa7.8acd"
            ]
        ]
    },
    {
        "id": "e1194461.2ae728",
        "type": "Monitor Flow",
        "z": "985354f6.552ed8",
        "name": "",
        "x": 390,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cc60e919.fa0c98",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "describeGroups",
        "topic": "describeGroups",
        "payload": "[\"aGroup\"]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "5c47d596.3c5c8c"
            ]
        ]
    },
    {
        "id": "f9cfa0b5.dac91",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "createTopics",
        "topic": "createTopics",
        "payload": "[{\"topic\":\"aTestRemoveTopic\",\"partitions\":1,\"replicationFactor\":1},{\"topic\":\"aTestRemoveTopic2\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 520,
        "wires": [
            [
                "5c47d596.3c5c8c"
            ]
        ]
    },
    {
        "id": "ac9a452b.f61958",
        "type": "inject",
        "z": "985354f6.552ed8",
        "name": "deleteTopics",
        "topic": "deleteTopics",
        "payload": "[{\"topic\":\"aTestRemoveTopic\"},{\"topic\":\"aTestRemoveTopic2\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "5c47d596.3c5c8c"
            ]
        ]
    },
    {
        "id": "abe5b085.ab96b",
        "type": "Kafka Broker",
        "z": "",
        "name": "Kafta",
        "hosts": [
            {
                "host": "127.0.0.1",
                "port": 9092
            }
        ],
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "usetls": false
    }
]